In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results=session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [5]:
#  3. Convert the June temperatures to a list.
june_temps = list(np.ravel(results))

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps,columns=['June Temperatures'])
june_temps_df.head()

   June Temperatures
0               78.0
1               76.0
2               78.0
3               76.0
4               77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_summary=june_temps_df.describe()
print(june_summary)

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results=session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [9]:
# 7. Convert the December temperatures to a list.
dec_temps = list(np.ravel(results))

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps,columns=['December Temperatures'])
dec_temps_df.head()

   December Temperatures
0                   76.0
1                   74.0
2                   74.0
3                   64.0
4                   64.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_summary=dec_temps_df.describe()
print(dec_summary)

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

## D3: Two Additional Queries for the Summary

In [12]:
#Write a query that filters the Measurement table to retrieve the precipitation for the month of June. 
results=session.query(Measurement.prcp).filter(extract('month', Measurement.date)==6).all()

In [13]:
#  Convert the June precipitation to a list.
june_prcp = list(np.ravel(results))

In [14]:
#Create a DataFrame from the list of precipitation for the month of June. 
june_prcp_df = pd.DataFrame(june_prcp,columns=['June Precipitation'])
june_prcp_df.head()

   June Precipitation
0                0.00
1                0.01
2                0.00
3                0.00
4                0.00

In [15]:
#Calculate and print out the summary statistics for the June temperature DataFrame.
june_summary=june_prcp_df.describe()
print(june_summary)

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [16]:
#Write a query that filters the Measurement table to retrieve the precipitation for the month of December. 
results=session.query(Measurement.prcp).filter(extract('month', Measurement.date)==12).all()
#Convert the December precipitation to a list.
dec_prcp = list(np.ravel(results))
#Create a DataFrame from the list of precipitation for the month of December. 
dec_prcp_df = pd.DataFrame(dec_prcp,columns=['December Precipitation'])
#Calculate and print out the summary statistics for the December temperature DataFrame.
dec_summary=dec_prcp_df.describe()
print(dec_summary)

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000